<div class="row my-5">
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="{{user.image}}" style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8 mb-5">
    <h1>{{user.name}}</h1>
    <p>{{user.email}}</p>
    <p>
      <b>{{user.Comments.length}} </b>已評論餐廳<br>
      <b>{{user.Comments.length}} </b>收藏的餐廳<br>
      <b>{{user.Comments.length}} </b>followings（追蹤者）<br>
      <b>{{user.Comments.length}} </b>followers（追隨者）
    </p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary mt-3">Edit</a>
  </div>
  <hr>
  <div class="followship col-md-4 d-flex flex-column">
    <div class="card">
      <h5 class="card-header"><b>{{user.Comments.length}} </b>followings（追蹤者）</h5>
      <div class="card-body card-group">
      </div>
    </div>
    <div class="card">
      <h5 class="card-header"><b>{{user.Comments.length}} </b>followers（追隨者）</h5>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="followship col-md-8 d-flex flex-column">
    <div class="card">
      <h5 class="card-header"><b>{{user.Comments.length}} </b>已評論餐廳</h5>
      <div class="card-body card-group">
      {{#each user.Comments}}
        <a href="/restaurants/{{this.Restaurant.id}}" class="p-1">
          <img src="{{this.Restaurant.image}}" class="img-fluid"
            width='80'
            height='80'
            class='avatar'>
        </a>
      {{/each}}
      </div>
    </div>
    <div class="card">
      <h5 class="card-header"><b>{{user.Comments.length}} </b>收藏的餐廳</h5>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>